<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="stylesheets/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style3.css">
    <script src="/login.js" defer></script>
</head>
<body>
    <div class="wrapper">
            <div class="form-wrapper sign-in">
                <form action="" id="login-form">
                    <h1>Inicia Sesion</h1>
                <div class="input-box">
                    <input type="text" name="user" id="user" placeholder="Usuario" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password" placeholder="Contraseña" requiered>
                </div>
                <div class="button-container">
                    <button class="btn" type="submit">Iniciar Sesión</button>
                </div>
                </form>
            </div>
    </div>
</body>
</html>