<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleMain.css">
    <link rel="stylesheet" href="/stylesheets/styleNewAsesoria.css">
</head>
<body>
    <%- include('partials/navbarEstudiantes') %>
    <div class="space2"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Solicita nuevas materias</h1>
                <form action="/solicitud" method="POST" id="solicitudForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre o materia</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Escribe el tema o la materia" id="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="horario" class="form-label">Horario de asesoria</label>
                        <input type="text" name="horario" class="form-control" placeholder="Formato de 12hrs. Indica am o pm" id="horario" required>
                    </div>
                    <button type="submit" class="boton">Agregar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('solicitudForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());
            try {
                const response = await fetch('/solicitud', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                const result = await response.json();
                if (response.ok) {
                    alert(result.message);
                    window.location.href = '/asesorias'; // Redirigir a la página de asesorías
                } else {
                    alert(result.message);
                }
            } catch (error) {
                alert("Hubo un error al enviar la solicitud");
            }
        });
    </script>

    <script integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
